<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>/view/index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>index.jsp</servlet-name>
        <jsp-file>/view/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>index.jsp</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>actors.jsp</servlet-name>
        <jsp-file>/view/actors.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>actors.jsp</servlet-name>
        <url-pattern>/actors</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>directors.jsp</servlet-name>
        <jsp-file>/view/directors.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>directors.jsp</servlet-name>
        <url-pattern>/directors</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>movie_details.jsp</servlet-name>
        <jsp-file>/view/movie_details.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>movie_details.jsp</servlet-name>
        <url-pattern>/movie_details/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>actor_details.jsp</servlet-name>
        <jsp-file>/view/actor_details.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>actor_details.jsp</servlet-name>
        <url-pattern>/actor_details/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>director_details.jsp</servlet-name>
        <jsp-file>/view/director_details.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>director_details.jsp</servlet-name>
        <url-pattern>/director_details/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>advanced.jsp</servlet-name>
        <jsp-file>/view/advanced.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>advanced.jsp</servlet-name>
        <url-pattern>/search/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editor.jsp</servlet-name>
        <jsp-file>/view/editor.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>editor.jsp</servlet-name>
        <url-pattern>/editor</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editor_movies.jsp</servlet-name>
        <jsp-file>/view/editor_movies.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>editor_movies.jsp</servlet-name>
        <url-pattern>/editor_movies/show</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editor_movies.edit</servlet-name>
        <servlet-class>com.kinopoisk.controller.MovieEditorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editor_movies.edit</servlet-name>
        <url-pattern>/editor_movies/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editor_actors.jsp</servlet-name>
        <jsp-file>/view/editor_actors.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>editor_actors.jsp</servlet-name>
        <url-pattern>/editor_actors/show</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editor_actors.edit</servlet-name>
        <servlet-class>com.kinopoisk.controller.ActorEditorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editor_actors.edit</servlet-name>
        <url-pattern>/editor_actors/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editor_directors.edit</servlet-name>
        <servlet-class>com.kinopoisk.controller.DirectorEditorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editor_directors.edit</servlet-name>
        <url-pattern>/editor_directors/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editor_directors.jsp</servlet-name>
        <jsp-file>/view/editor_directors.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>editor_directors.jsp</servlet-name>
        <url-pattern>/editor_directors/show</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editor_genres.edit</servlet-name>
        <servlet-class>com.kinopoisk.controller.GenreEditorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editor_genres.edit</servlet-name>
        <url-pattern>/editor_genres/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editor_genres.jsp</servlet-name>
        <jsp-file>/view/editor_genres.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>editor_genres.jsp</servlet-name>
        <url-pattern>/editor_genres/show</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editor_countries.edit</servlet-name>
        <servlet-class>com.kinopoisk.controller.DirectorEditorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editor_countries.edit</servlet-name>
        <url-pattern>/editor_countries/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editor_countries.jsp</servlet-name>
        <jsp-file>/view/editor_countries.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>editor_countries.jsp</servlet-name>
        <url-pattern>/editor_countries/show</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
</web-app>